@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat:ital@1&display=swap');

:root{
  --Cream: hsl(30, 38%, 92%);
  --Darkcyan: hsl(158, 36%, 37%);
  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Cream);
}


.main_container {
  width: 600px;
  height: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border-radius: 15px;
  background: white;
  position: relative;
}

.left_column img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.right_column {
  padding: 30px;
  display: block;
}

.right_column h4, h1, h3 {
  margin-bottom: 20px;
}

.right_column h4 {
  color: var(--Darkgrayishblue);
  line-height: 1.2;
}

.right_column h1 {
  font-weight: bold;
  font-family:'Fraunces', serif;
}

.prices {
  display: flex;
  align-items: center;
  height: auto-fit;
}

.prices h1 {
  margin-right: 10px;
  color: var(--Darkcyan);
}

.prices h4 {
  text-decoration: line-through;
}

.button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--Darkcyan);
  border-radius: 10px;
}
.button h4 {
  align-self: center;
  color: white;
  height: 50%;
  margin: 0;
}

@media (max-width: 320px) , screen and (orientation: portrait) {
  .main {
    min-height: 100vh;
    align-items: start;
    padding-top: 50px;
  }
  .main_container {
    height: 100%;
    width: 90%;
    height: max-content;
    display: block;
  }

  .left_column {
    height: 200px;
  }

  .left_column img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    content:href('imgs/image-product-mobile.jpg');
  }
}
